h1, h2, h3, h4, h5, h6, p
    margin: 0

*, *::before, *::after
    box-sizing: border-box

ul
    padding: 0
    margin: 0
li
    list-style: none
a
    text-decoration: none

.d-none
    display: none

.cross
    width: 1.16rem
    height: 1.16rem
    position: absolute
    z-index: 55
    cursor: pointer
    right: 1.6rem
    top: 1.6rem
    &::after
        content: ''
        width: 100%
        height: 0.05rem
        background: #9E9DAC
        position: absolute
        top: 50%
        transform: rotate(45deg)
    &::before
        content: ''
        width: 100%
        height: 0.05rem
        background: #9E9DAC
        position: absolute
        top: 50%
        transform: rotate(-45deg)

.subtitle
    font-style: normal
    font-weight: 300
    font-size: 0.66rem
    line-height: 1rem
    color: rgba(255, 255, 255, 0.5)

.master-class__label
    padding-left: 1.125rem
    display: flex
    align-items: center
    cursor: pointer
.master-class__input
    appearance: none
    position: absolute
.master-class__span
    position: absolute
    width: 0.7rem
    height: 0.7rem
    border: solid 0.04rem #E7E7E7
    margin-left: -1.125rem
    background: red
.open
    opacity: 1 !important
    visibility: visible !important

.close
    opacity: 0
    visibility: hidden
.js-input-tel
    &:hover
        opacity: 0
    &:focus
        opacity: 1
        transition: 0.3s

.custom-select
    &-label
        position: absolute       
        left: 0
        bottom: 0.4rem
        white-space: nowrap
        overflow: hidden
        transition: .3s
        color: rgba(255, 255, 255, 0.5)  
        z-index: 1
        &.top
            bottom: 70%
            font-size: 0.6rem
            line-height: 1rem
            color: rgba(255, 255, 255, 0.5)
    &-value
        position: relative
        min-height: 2.4rem
        font-weight: 300
        font-style: light
        font-size: 1rem
        line-height: 1.33rem  
        color: white
        padding: 0.7rem 0 0.4rem 0
        &::after
            content: ''
            position: absolute
            right: 0
            top: 50%
            width: 0.4rem
            height: 0.2rem  
            border: 0.04rem solid #FFFFFF
            transform: matrix(1, 0, 0, -1, 0, 0)
    &-drop
        position: absolute
        width: 100%
        max-height: 11.25rem
        top: 100%
        margin-top: 0.125rem
        background-color: #2E2D4E
        z-index: 1
        font-size: 1rem
        line-height: 1.33rem
        color: #FFFFFF
        opacity: 0
        visibility: hidden
        font-weight: 300
        padding: 0.66rem 0.66rem 0
        overflow: hidden        
        &__option
            height: 1.33rem
            line-height: 1.33rem
            margin: 0 0 0.66rem     
            opacity: 0.5
            &:hover
                opacity: 1
                cursor: pointer   