@font-face {
  font-family: 'MabryProItalic';
  font-style: black;
  font-weight: 900;
  src: url("../fonts/Mabry Pro Black Italic.otf");
}

@font-face {
  font-family: 'MabryPro';
  font-style: black;
  font-weight: 900;
  src: url("../fonts/Mabry Pro Black.otf");
}

@font-face {
  font-family: 'MabryProItalic';
  font-style: black;
  font-weight: 700;
  src: url("../fonts/Mabry Pro Block Italic.otf");
}

@font-face {
  font-family: 'MabryPro';
  font-style: black;
  font-weight: 700;
  src: url("../fonts/Mabry Pro Block.otf");
}

@font-face {
  font-family: 'MabryProItalic';
  font-style: medium;
  font-weight: 500;
  src: url("../fonts/Mabry Pro Medium Italic.otf");
}

@font-face {
  font-family: 'MabryPro';
  font-style: medium;
  font-weight: 500;
  src: url("../fonts/Mabry Pro Medium.otf");
}

@font-face {
  font-family: 'MabryProItalic';
  font-style: light;
  font-weight: 300;
  src: url("../fonts/Mabry Pro Light Italic.otf");
}

@font-face {
  font-family: 'MabryPro';
  font-style: light;
  font-weight: 300;
  src: url("../fonts/Mabry Pro Light.otf");
}

@font-face {
  font-family: 'MabryPro';
  src: url("../fonts/Mabry Pro Italic.otf");
}

@font-face {
  font-family: 'MabryPro';
  src: url("../fonts/Mabry Pro.otf");
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.d-none {
  display: none;
}

.cross {
  width: 1.16rem;
  height: 1.16rem;
  position: absolute;
  z-index: 55;
  cursor: pointer;
  right: 1.6rem;
  right: 2.16rem;
  top: 1.6rem;
}

.cross::after {
  content: '';
  width: 100%;
  height: 0.05rem;
  background: #9E9DAC;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cross::before {
  content: '';
  width: 100%;
  height: 0.05rem;
  background: #9E9DAC;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 0.66rem;
  line-height: 1rem;
  color: rgba(255, 255, 255, 0.5);
}

.master-class__label {
  padding-left: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.master-class__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.master-class__span {
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  border: solid 0.04rem #E7E7E7;
  margin-left: -1.125rem;
  background: red;
}

.open {
  opacity: 1 !important;
  visibility: visible !important;
}

.close {
  opacity: 0;
  visibility: hidden;
}

.js-input-tel:hover {
  opacity: 0;
}

.js-input-tel:focus {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.custom-select-label {
  position: absolute;
  left: 0;
  bottom: 0.4rem;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.custom-select-label.top {
  bottom: 70%;
  font-size: 0.6rem;
  line-height: 1rem;
  color: rgba(255, 255, 255, 0.5);
}

.custom-select-value {
  position: relative;
  min-height: 2.4rem;
  font-weight: 300;
  font-style: light;
  font-size: 1rem;
  line-height: 1.33rem;
  color: white;
  padding: 0.7rem 0 0.4rem 0;
}

.custom-select-value::after {
  content: '';
  background-image: url("../img/arrow_select.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 50%;
  width: 0.4rem;
  height: 0.2rem;
}

.custom-select-drop {
  position: absolute;
  width: 100%;
  max-height: 11.25rem;
  top: 100%;
  margin-top: 0.125rem;
  background-color: #2E2D4E;
  z-index: 1;
  font-size: 1rem;
  line-height: 1.33rem;
  color: #FFFFFF;
  opacity: 0;
  visibility: hidden;
  font-weight: 300;
  padding: 0.66rem 0.66rem 0;
  overflow: hidden;
}

.custom-select-drop__option {
  height: 1.33rem;
  line-height: 1.33rem;
  margin: 0 0 0.66rem;
  opacity: 0.5;
}

.custom-select-drop__option:hover {
  opacity: 1;
  cursor: pointer;
}

.form__bg {
  position: absolute;
  width: 30rem;
  margin: 2rem 0;
  z-index: 55;
}

.form__bg p {
  padding: 0.6rem 0;
}

.children {
  border: solid 0.04remred;
  padding: 1rem;
  border-radius: 0.3rem;
  background: #3D3C5A;
  color: #ffffff;
}

.box__color__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: -1;
}

.bg_color {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 18rem;
  height: 18rem;
  position: absolute;
  z-index: -1;
}

.blue__bg_top {
  background-image: url("../img/bg__top.svg");
  margin-left: -8rem;
  margin-top: -8rem;
}

.orchid__bg {
  background-image: url("../img/bg__mid.svg");
  top: 50%;
  left: 20rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 1200px) {
  .orchid__bg {
    left: 18rem;
  }
}

@media screen and (max-width: 876px) {
  .orchid__bg {
    display: none;
  }
}

.blue__bg_bottom {
  background-image: url("../img/bg__bott.svg");
  left: -14%;
  bottom: -14%;
}

.form__bg {
  position: absolute;
  width: 30rem;
  margin: 2rem 0;
  z-index: 55;
  display: none;
}

.form__bg p {
  padding: 0.6rem 0;
}

.form {
  background: #3D3C5A;
  border-radius: 0.66rem;
  max-width: 30rem;
  margin: 2rem 0;
  z-index: 55;
}

.form__inner {
  padding: 2.9rem 3.33rem 3.5rem 3.33rem;
}

@media screen and (max-width: 575px) {
  .form__inner {
    padding: 1.8rem 1rem 2.5rem 1rem;
  }
}

.contact {
  padding: 1.6rem 0;
}

.form__title {
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.1rem;
}

.time {
  margin: 1.45rem 0 1.9rem 0;
}

.slider {
  margin-top: 1.8rem;
}

.send {
  margin-top: 2.45rem;
}

@media screen and (max-width: 575px) {
  .send {
    margin-top: 1.8rem;
  }
}

.send__btn {
  margin-right: 1.2rem;
}

.send__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 575px) {
  .send__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.send__text {
  font-weight: 300;
  font-size: 0.6rem;
  line-height: 1rem;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.02rem;
}

@media screen and (max-width: 575px) {
  .send__text {
    margin-top: 1.12rem;
  }
}

.send__text a {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: solid 0.04rem rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.send__text a:hover {
  color: #ffffff;
}

.form2 {
  position: fixed;
  z-index: 50;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30rem;
  visibility: hidden;
}

@media screen and (max-width: 575px) {
  .form2 {
    max-width: 30rem;
    width: auto;
  }
}

.form2 .form__inner {
  width: 100%;
  border-radius: 0.66rem;
  background: #3D3C5A;
  padding: 2.7rem 2rem 3rem 3.33rem;
}

@media screen and (max-width: 575px) {
  .form2 .form__inner {
    padding: 1.87rem 1rem 2.5rem 1rem;
  }
}

.form2 .form__inner .form__text {
  color: #ffffff;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.33rem;
  padding: 2.1rem 0 2.5rem 0;
}

input,
select {
  width: 100%;
  background: none;
  border: 0;
  font-weight: 300;
  font-style: light;
  font-size: 1rem;
  line-height: 1.33rem;
}

input option,
select option {
  color: #ffffff;
  background: #4D4D67;
}

input option:first-child,
select option:first-child {
  color: red;
}

input:focus,
select:focus {
  outline: none;
}

input {
  color: #ffffff;
  font-family: 'MabryPro';
  font-weight: 300;
}

select {
  color: rgba(255, 255, 255, 0.5);
  margin-left: -0.16rem;
}

.contact__item {
  vertical-align: top;
  position: relative;
  width: 100%;
  border-bottom: solid 0.04rem rgba(255, 255, 255, 0.3);
  margin-top: 1rem;
}

.contact__item__tel {
  width: 50%;
}

.contact__item__tel::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.contact__item__tel:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.contact__item__tel::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.contact__item__tel::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.contact__input {
  width: 100%;
  position: relative;
  padding: 0.7rem 0 0.4rem 0;
}

.contact__label {
  position: absolute;
  pointer-events: none;
  left: 0;
  bottom: 0.4rem;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  color: rgba(255, 255, 255, 0.5);
}

textarea {
  font-family: 'MabryPro';
  font-weight: 300;
  background: none;
  resize: none;
  height: 2rem;
  width: 100%;
  border: none;
  position: relative;
  outline: none;
  font-size: 1rem;
  line-height: 1.33rem;
  color: #ffffff;
  overflow: hidden;
}

.contact__input:focus ~ .contact__label,
.contact__input:not(:focus):valid ~ .contact__label {
  bottom: 70%;
  font-size: 0.6rem;
  line-height: 1rem;
  color: rgba(255, 255, 255, 0.5);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: all 5000s ease-in-out 0s;
  transition: all 5000s ease-in-out 0s;
  font-size: 3rem;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

.btn {
  color: #ffffff;
  padding: 0.9rem 2.8rem;
  border-radius: 0.4rem;
}

.btn_disabled {
  background: #77768B;
  color: #3D3C5A;
  -webkit-filter: drop-shadow(0 0.15rem 0.15rem rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0 0.15rem 0.15rem rgba(0, 0, 0, 0.25));
}

.btn_active {
  background: #FF7777;
  color: #ffffff;
  -webkit-box-shadow: 0 0.4rem 1.25rem rgba(255, 119, 119, 0.4);
          box-shadow: 0 0.4rem 1.25rem rgba(255, 119, 119, 0.4);
}

select {
  color: #ffffff;
}

.check,
.radio {
  padding-left: 1.62rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin: 0.33rem 0;
}

.check__input,
.radio__input,
.switch__check__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.check__box,
.radio__button {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border: solid 0.05rem #FF7777;
  border-radius: 0.16rem;
  margin-left: -1.62rem;
}

.radio__button {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border: solid 0.05rem #FF7777;
  border-radius: 50%;
  margin-left: -1.62rem;
}

.check__input:checked + .check__box {
  background-image: url("../img/vector.svg");
  background-color: #FF7777;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80%;
  -webkit-box-shadow: 0 0.08rem 0.4rem #FF7777;
          box-shadow: 0 0.08rem 0.4rem #FF7777;
}

.check__input:focus + .check__box,
.radio__input:focus + .radio__button {
  border-color: #ffffff;
}

.radio__input:checked + .radio__button {
  background: #FF7777;
  -webkit-box-shadow: 0 0.1rem 0.4rem #FF7777;
          box-shadow: 0 0.1rem 0.4rem #FF7777;
}

.radio__input:checked + .radio__button .radio__button__inner {
  width: 0.21rem;
  height: 0.21rem;
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.check__input:checked + .check__box + .check__input__text,
.radio__input:checked + .radio__button + .radio__input__text {
  opacity: 1;
}

.check__input__text,
.radio__input__text {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 300;
  opacity: 0.5;
  -webkit-transition: .2s;
  transition: .2s;
}

.switch__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  width: 7.9rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.switch__check__box {
  width: 1.6rem;
  height: 1rem;
  border: solid 0.04rem #FF7777;
  border-radius: 0.83rem;
  position: absolute;
  left: 50%;
  bottom: -0.08rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.switch__check__box::before {
  content: '';
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background: #FF7777;
  position: absolute;
  left: 0.1rem;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.switch__check__input:checked + .switch__check__box:before {
  left: 0.8rem;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.switch__check__input__text {
  color: #ffffff;
  font-size: 0.7rem;
  font-weight: 300;
  opacity: 0.5;
  -webkit-transition: .2s;
  transition: .2s;
}

.switch__check__input:not(:checked) + .switch__check__box + .switch__check__input__text {
  opacity: 1;
}

.switch__check__input:checked + .switch__check__box + .switch__check__input__text + .switch__check__input__text {
  opacity: 1;
}

.range-slider {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 300;
}

.rs-range {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: 0;
}

.rs-range:focus {
  outline: none;
}

.rs-range::-webkit-slider-runnable-track {
  position: relative;
  width: 100%;
  height: 0.04rem;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 0;
  border: 0rem solid #010101;
}

.rs-range::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  margin-top: -0.04rem;
  height: 0.08rem;
}

.rs-range::-moz-range-track {
  position: relative;
  width: 100%;
  height: 0.04rem;
  cursor: pointer;
  box-shadow: none;
  background: #ffffff;
  border-radius: 0;
  border: 0 solid #010101;
}

.rs-range::-webkit-slider-thumb {
  position: relative;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0 solid #ffffff;
  -webkit-box-shadow: 0 0.08rem 0.41rem #FF7777;
          box-shadow: 0 0.08rem 0.41rem #FF7777;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: #FF7777;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.5rem;
}

.rs-range::-webkit-slider-thumb::after {
  content: '';
  position: absolute;
  top: 50%;
  background-color: black;
  height: 0.21rem;
  width: 8.33rem;
}

.rs-range::-moz-range-thumb {
  box-shadow: none;
  border: 0 solid #ffffff;
  box-shadow: 0 0.08rem 0.41rem #FF7777;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: #FF7777;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.5rem;
}

.rs-label {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 300;
}

html {
  font-size: calc( 100vw / 80);
}

@media screen and (max-width: 1880px) {
  html {
    font-size: 24px;
  }
}

@media screen and (max-width: 991px) {
  html {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 16px;
  }
}

body {
  width: 100vw;
  min-height: 100vh;
  background: #4D4D67;
  max-width: 100%;
  min-width: 300px;
  margin: 0;
  color: #233737;
  font-family: 'MabryPro', 'Arial', 'Sans-Serif';
}

.container {
  max-width: 32rem;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
  min-height: 100vh;
}
/*# sourceMappingURL=style.css.map */